body{
  background-color: rgb(19, 19, 19);
}

.gridContainer{
  display: inline-grid;
  grid-template-columns:left right;
}

.gridItem1 {
  grid-area: left;
}

.gridItem2 {
  grid-area: right;
}

.title{
  margin-top: 1em;
  width: 15em;
  color:white;
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  background-color:rgb(124, 124, 124);
  color: black;
  border: solid black 2px;
  height: 5em;
  width:10em;
}
button:hover {
  background-color:rgb(83, 83, 83);
  border: solid white 2px
}
.linkInsideButton {
  width:100%;
}

#signature {
  color: white;
}

a {
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: inherit;
  text-align: center;
}
a:hover {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
