body{
  background-color: rgb(19, 19, 19);
}

.title{
  margin-top: 1em;
  text-align:center;
  width: 3em;
  color:white;
  font-size: 2em;
}

button {
  background-color:rgb(124, 124, 124);
  color: black;
  border: solid black 2px;
  height: 5em;
  width:10em;
}
button:hover {
  background-color:rgb(83, 83, 83);
}
.linkInsideButton {
  width:100%;
}

a {
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: inherit;
  text-align: center;
}
a:hover {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
