#calendar {
	display: grid;
	padding-top: 20px;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(5, 1fr);
	height: 100%;
	width: 100%;
}
.day {
	border: 1px solid #1f2833;
	color: #c5c6c7;
	text-align: center;
	padding-top: 5px;
	font-size: 12px;
	cursor: pointer;
	transition: #0b0c10 200ms, #66fcf1 200ms;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 16px;
}
.name {
	padding-bottom: 5px;
}
.weekend {
	color: #45a29e;
	background-color: rgba(12, 0, 41, 0.1);
}
.selected {
	background-color: #1f2833;
	color: #45a29e;
}
